{% with request.resolver_match.view_name as view_name %}
<div class="collapse navbar-collapse" id="navbar-example">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"> 
      <a class="nav-link {% if view_name  == 'polls:index' %}active{% endif %}" 
        href="{% url 'polls:index' %}">
        Главная
      </a>
    </li>
    {% if user.is_authenticated %}
      <li class="nav-item"> 
        <a class="nav-link link-light {% if view_name  == 'polls:completed_polls' %}active{% endif %}" 
          href="{% url 'polls:completed_polls'%}">
          История пройденных тестов
        </a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link link-light {% if view_name  == 'users:password_change' %}active{% endif %}" 
          href="{% url 'users:password_change' %}">
          Изменить пароль
        </a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link link-light {% if view_name  == 'users:logout' %}active{% endif %}" 
          href="{% url 'users:logout' %}">
          Выйти
        </a>
      </li>
    {% else %}
      <li class="nav-item"> 
        <a class="nav-link link-light {% if view_name  == 'users:login' %}active{% endif %}" 
          href="{% url 'users:login' %}">
          Войти
        </a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link link-light {% if view_name  == 'users:signup' %}active{% endif %}" 
          href="{% url 'users:signup' %}">
          Регистрация
        </a>
      </li>
    {% endif %}
  </ul>
</div>
{% endwith %} 
